p {
  text-align: center;
  color: #ff99cc;
  font-weight: bold;
  font-size: 50px;
  font-family: italic;
  }
#display {
  width: 220px;
  height: 50px;
  padding-right: 10px;
  font-size: 50px;
  text-align: right;
  margin-bottom: 10px;
  cursor: pointer;
  }
button {
  width: 60px;
  height: 60px;
  border-radius: 20px;
  margin: 5px;
  background-color:#ffccff;
  border: 1px solid #ff99cc;
  cursor: pointer;
  }
.operator {
  background-color: #ff66b2;
  color: white;
  }
#clear {
  background-color:#ff99cc;
  }
#equals {
  background-color: #ff99cc;}
body{
  text-align: center;
  background-color: #ffe6f2;
  font-size: 30px;
  font-family: 'Arial', sans-serif;
  }
button{
  display: inline-block;
  }
  
